.greet_section {
  overflow: hidden;
}


.greet_section p {
  margin: 40px auto;
  text-align: center;
}

.greet_section p:nth-of-type(1),
.greet_section p:nth-of-type(3) {
  max-width: 450px;
}

.greet_section p:nth-of-type(2),
.greet_section p:nth-of-type(4) {
  max-width: 600px;
}


@media screen and (min-width:600px) {
  .greet_section figure {
    display: flex;
  }

  .greet_section figure img {
    flex: 1;
    max-width: 50%;
  }
}

@media screen and (max-width:600px) {
  .greet_section figure img {
    margin: 0 auto;
    width: 100%;
  }
}

/* p motion */
.greet_section p {
  opacity: 0;
  transition: all 1s;
}

.greet_section p:nth-of-type(odd) {
  transform: translateX(-100px);
}

.greet_section p:nth-of-type(even) {
  transform: translateX(100px);
}

.greet_section p.active {
  opacity: 1;
  transform: translateX(0);
}


/* img motion */
.greet_section img {
  opacity: 0;
  filter: saturate(0);
  transition: all 1s;
}

.greet_section img:first-child {
  transform: translateX(-100px);
}

.greet_section img:last-child {
  transform: translateX(100px);
}

.greet_section img.active{
  opacity: 1;
  filter: saturate(1);
  transform: translate(0);
}