/* 나중에 포트폴리오 올릴때는 주석 지우자,, 사람들이 진짜 싫어한대 
초보티 내지말기 ! 콘솔로그도 다 없애자 (스크립트하다가 )

리젯은 한번 만들어놓고 복사해서 계속 쓴다. 
무조건 써야하는거니까 ! 
사이트를 만들때마다 그 분위기에 따라서 폰트들은 바뀌어야해 그걸 스타일가이드라고해
테마 컬러 ! = 그 사이트의 메인 컬러 ! 주조색 / 보조색 / 등.. 컨셉! 사이트마다 달라지는것들은
스타일가이드 라고 따로 만들어야한다. 리젯은 다짜고짜 붙여 쓰는 거고
*/


/* 여기는 상속받는 곳! --------- */
* {
    margin: 0;
    padding: 0;
    color: inherit;
    /* 전부 다(모든 엘리먼트) 상속을 받겠다
    전부 다 red가 됨! 강제로 상속을 받게하고 ! 부모요소에서 색상을 선택해주기만 하면 됨 */
    text-decoration: inherit;
    /* body에서 text-decoration을 none으로 했으니까
    여기서도 상속을 받겠다고 선언 ! */
    font-weight: inherit;
    /* 다 inherit를 하는게 아니고 텍스트관련된 애들은 상속이 돼서 하는거야 
    상속이 되는게있고 안되는게 이써!*/
    font-style: inherit;
    font-size: inherit;
    font-family: inherit;
    word-break: keep-all;
}



/* ------ body 여기가 폰트 설정한거고 -------- 
이 밑에 애들은 스타일 가이드니까 따로 복사해서 style.css로 옮겨주자.
body{
    color: #666;
    text-decoration: none;
    /* 밑줄 없애기 
    부모가 없앴으니까 자식들도 다 없어져
    font-weight: normal;
    font-style: normal;
    font-family: 'Montserrat' , 'Noto Sans KR', sans-serif;
    /* 사용자 컴터에는 내 컴터에 있는 폰트가 없을수가있으니까
    구글 웹폰트 들어가서 Early Access 들어가서 즐겨찾기 해놓자 ! 
    대표적으로 우리나라에서 많이 쓰는건 (장식이 없는) 
    포인트를 주기위해서는 샨셰리프..?ㅎ..를 쓴다.섞어서 쓰면 돼 ! 
    대표적인 샨세리프는 : 나는고딕 / 노토산스 / 
}

.serif{
    font-family: 'Nanum Myeongjo', serif;
}
/* 내가 만든 클래스 ! 나눔명조도 쓰고싶으니까 !
기본은 저기 위에있는 폰트들을 쓰겠지만 이것도 가끔 쓰고싶을때 몇개 폰트를 쓰고싶을땐 이렇게 하면된다.
*/


li {
    list-style: none;
}

iframe,
img,
svg,
video canvas {
    display: block;
}

iframe, fieldset{
    border: none;
}

table {
    table-layout: fixed; /* 
    border-collapse: collapse;
}


input,
textarea,
select {
    /*(폼은 이게 끝이다. ) 얘들은 무조건 박스사이징 무조건 해줘야함.*/
    box-sizing: border-box;
    background: none;
    cursor: pointer;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}


.hidden {
    /* 화면밖으로 날려버리는 */
    position: fixed;
    left: -10000px;
}



/* 이렇게 하는게 리젯이야 
사이트 초기화!*/