@use "mixin" as m;

.home-visual {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  background: var(--dark);
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.8;
    @include m.objectFit(cover);
  }
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .carousel {
    position: relative;
    width: min(90%, 600px);
    height: 70%;
    ul.polygon3d {
      height: 100%;
      li {
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
        &.active {
          img {
            filter: url(#filter);
            transform: scale(1.15);
          }
        }
      }
    }
    .indicator {
      margin-top: 20px;
      button {
        margin: 0 3px;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        opacity: 0.5;
        transform: scale(0.8);
        &.active {
          opacity: 1;
          transform: scale(1);
          background: var(--orange);
        }
      }
    }
    .next,
    .prev {
      position: absolute;
      top: 50%;
      height: 20px;
      opacity: 0.6;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
      img {
        height: 100%;
      }
    }
    .prev {
      left: 0;
      transform: translate(-50%, -50%);
    }
    .next {
      right: 0;
      transform: translate(50%, -50%);
    }
  }
}

.home-section1 {
  background: linear-gradient(#ffffff, #ffffff);
  padding: 40px 0;
  .center {
    margin: 0 auto;
    width: min(95%, 1200px);
    ul {
      display: flex;
      flex-wrap: wrap;
      li {
        position: relative;
        box-sizing: border-box;
        padding: 5px;
        &:nth-child(1) > a::before {
          background-image: url(../img/home/banner01.jpg);
        }
        &:nth-child(2) > a::before {
          background-image: url(../img/home/banner02.jpg);
        }
        &:nth-child(3) > a::before {
          background-image: url(../img/home/banner03.jpg);
        }
        &:nth-child(4) > a::before {
          background-image: url(../img/home/banner04.jpg);
        }
        a {
          display: block;
          position: relative;
          padding: 15px;
          height: 100%;
          background-size: cover;
          background-position: center;

          &::before {
            content: "";
            @include m.posLT(absolute, 50%, 50%, -50%, -50%);
            width: 250px;
            height: 250px;
            background: red;
            border-radius: 50%;
            border: 5px solid #ddd;
            filter: blur(2px);
            opacity: 0;
            transition: opacity 0.5s;
          }
          &:hover {
            &::before {
              opacity: 1;
            }
            figure {
              img {
                transform: scale(1.2) !important;
              }
            }
            .textbox {
              h3 {
                background: var(--orange);
              }
              p {
                background: var(--dark);
                color: #fff;
              }
            }
          }
          figure {
            margin: 0 auto;
            position: relative;
            width: 220px;
            height: 220px;
            border-radius: 50%;
            border: 5px solid #ddd;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              &:first-child {
                filter: blur(2px);
              }
              &:last-child {
                transform: scale(0.8);
              }
            }
          }
          .textbox {
            position: relative;
            margin-top: 20px;
            h3 {
              margin-bottom: 10px;
              padding: 8px;
              text-align: center;
              background: var(--blue);
              color: #fff;
              transform: skew(-45deg);
              font-weight: 500;
              b {
                display: inline-block;
                transform: skew(45deg);
              }
            }
            p {
              text-align: center;
              border-radius: 3px;
              padding: 10px;
            }
          }
        }
      }
      @media #{m.$minLg} {
        &:hover {
          li {
            width: 20%;
          }
        }
        li {
          padding: 0;
          width: 25%;
          transition: width 0.5s;
          &:hover {
            width: 30%;
          }
        }
      }
      @media #{m.$md} {
        li {
          width: 50%;
        }
      }
      @media #{m.$maxSm} {
        li {
          width: 100%;
        }
      }
    }
  }
} 

.home-section2 {
  padding: 40px 0;
  .center {
    width: min(95%, 1000px);
    margin: 0 auto;
    div.recent {
      display: flex;
      flex-wrap: wrap;
      article {
        &:hover {
          figure img {
            transform: scale(1.2);
            filter: url(#filter);
          }
        }
        figure {
          position: relative;
          overflow: hidden;
          @include m.square;
          margin: 0;
          img {
            position: absolute;
            top: 0;
            transform: scale(1.1);
            @include m.objectFit(cover);
            transition: all 1s;
          }
          figcaption {
            @include m.posLT(absolute, 50%, 50%, -50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 200px;
            border: 1px solid #fff;
            text-align: center;
            height: 200px;
            text-align: center;
            color: #fff;
            font-size: 2em;
            text-transform: uppercase;
            font-weight: 100;
            background: rgba(#fff, 0.1);
            i {
              margin-bottom: 10px;
            }
          }
        }
        div.board {
          position: relative;
          @include m.square;
          .inner {
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            padding: 15px;
            top: 0;
            box-sizing: border-box;
            ul.latest-prd {
              width: 100%;
              li {
                padding: 5px 0;
                border-bottom: 1px solid #ccc;
                a {
                  display: block;
                  width: 100%;
                  justify-content: space-between;
                  @include m.clearfix;
                  img {
                    float: left;
                    width: 50px;
                    height: 50px;
                    object-fit: cover;
                    object-position: center;
                  } // img
                  div {
                    float: right;
                    width: calc(100% - 60px);
                    h4 {
                      font-weight: 600;
                      font-size: 0.9em;
                    }
                    p {
                      @include m.ellipsis;
                    }
                  }
                } 
              }
            }
          }
        }
        @media #{m.$minLg} {
          flex: 1;
          &.prd {
            display: flex;
            flex-direction: column-reverse;
          }
        }
        @media #{m.$maxLg} {
          width: 100%;
        }
        @media #{m.$md} {
          display: flex;
          &.prd {
            flex-direction: row-reverse;
          } // prd
          figure,
          .board {
            flex: 1;
          } // figure,.board
        } // minLg
        @media #{m.$minSm} {
        } // minSm
        @media #{m.$maxSm} {

          max-width: 400px;
          margin: 0 auto;
        } // maxSm
      } // article
    } // div.recent
  } // center
} // section2

.home-section3 {
  position: relative;
  padding: 40px 0;
  div.bg {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-image: url(../img/home/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .flip-book1 {
    opacity: 0.8;
    margin: 50px auto;
    width: 80%;
    height: 90vh;
    max-height: 800px;
    div.sheet {
      .page {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: none;
        background: var(--dark);
        box-sizing: border-box;
        padding: 15px;
      }
      .page1 {
        figure {
          width: 80%;
          .home-section-title,
          .home-section-desc {
            color: #fff;
          }
          img {
            width: 100%;
          }
        } // figure
      } // page 1
      .page2 {
        h3 {
          display: inline-block;
          margin: 10px;
          padding: 5px 20px;
          background: var(--blue);
          border-radius: 5px;
          color: #fff;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 1.2em;
        } //h3
        address {
          padding: 10px;
          border: 1px solid #fff;
          background: rgba(#fff, 0.2);
          color: #fff;
          font-size: 1.1em;
          p {
            padding: 3px 0;
            border-bottom: 1px dotted rgba(#fff, 0.4);
            i {
              color: var(--orange);
              margin-right: 5px;
            }
          } //p
          a {
            margin-bottom: 3px;
            display: inline-block;
            padding: 5px 10px;
            background: var(--dark);
            border-radius: 5px;
            color: #fff;
            transition: background 1s;
            &:hover {
              background: var(--orange);
            }
          } //a
        } //address
        .inner {
          width: 100%;
        }
      } //page2
      .page3 {
        box-sizing: border-box;
        padding: 15px;
        iframe {
          width: 100%;
          height: 100%;
        }
      }
    } // div.sheet
  } // flipbook
} // section3
